{% extends 'flatpages/default.html' %}
{% block title %}
Lot
{% endblock title %}
{% block content %}
      <tr>
        <td><h2>{{ lot.title}}</h2></td>
    </tr>
    <tr>
        <td>{{ lot.description|truncatewords:5 }}</td>
    </tr>
    <tr>
        <td>{{ lot.category_choice }}</td>
    </tr>
    <tr>
        <td>{{ lot.price }}</td>
    </tr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <textarea name="text" rows="4" cols="50"></textarea><br>
        <button type="submit">Отправить комментарий</button>
    </form>
{% endblock content %}