{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Lots
{% endblock title %}

{% block content %}
  <h1>Все объявления</h1>
  <hr>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
  {% if lots %}
      <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Цена</td>
               <td>Количество</td>
           </tr>

           {% for lot in lots %}
           <tr>
               <td>{{ lot.title }}</td>
               <td>{{ lot.description|truncatewords:15 }}</td>
               <td>{{ lot.category_choice }}</td>
               <td>{{ lot.price | currency }}</td>
           </tr>
           {% endfor %}

       </table>
  {% else %}
    <h2>Объявлений нет</h2>
  {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}